[Unit]
Description=Reinicio programado - Cliente de Sensores de Secado
After=secado-sensor-client.service

[Service]
Type=oneshot
User=root
ExecStart=/home/laptop/secado/restart_service.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
